DigiCertSymCaProxy/Connected Services/DigicertMPKISOAP/certificateManagementService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.verisign.com/pkiservices/2009/07/management" elementFormDefault="qualified" targetNamespace="http://schemas.verisign.com/pkiservices/2009/07/management" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bulkUpdateCertificateStatusRequest" type="tns:BulkUpdateCertificateStatusRequestType" />
  <xs:element name="bulkUpdateCertificateStatusResponse" type="tns:BulkUpdateCertificateStatusResponseType" />
  <xs:element name="requestKeyRecoveryMessage" type="tns:RequestKeyRecoveryMessageType" />
  <xs:element name="requestKeyRecoveryResponseMessage" type="tns:RequestKeyRecoveryResponseMessageType" />
  <xs:element name="searchCertificateRequest" type="tns:SearchCertificateRequestType" />
  <xs:element name="searchCertificateResponse" type="tns:SearchCertificateResponseType" />
  <xs:element name="updateCertificateStatusRequest" type="tns:UpdateCertificateStatusRequestType" />
  <xs:element name="updateCertificateStatusResponse" type="tns:UpdateCertificateStatusResponseType" />
  <xs:complexType name="RequestKeyRecoveryMessageType">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientTransactionID" type="xs:string" />
      <xs:element minOccurs="0" name="pKCS12Password" type="xs:string" />
      <xs:element name="certificateSerialNumber" type="xs:string" />
      <xs:element name="certificateIssuer" type="xs:string" />
      <xs:element name="adminID" type="xs:string" />
      <xs:element name="version" type="xs:string" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCertificateRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientTransactionID" type="xs:string" />
      <xs:element minOccurs="0" name="seatId" type="xs:string" />
      <xs:element minOccurs="0" name="accountId" type="xs:string" />
      <xs:element minOccurs="0" name="profileOID" type="xs:string" />
      <xs:element minOccurs="0" name="commonName" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:CertificateStatusEnum" />
      <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
      <xs:element minOccurs="0" name="serialNumber" type="xs:string" />
      <xs:element minOccurs="0" name="issuingCA" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="validFrom" type="xs:long" />
      <xs:element minOccurs="0" name="validTo" type="xs:long" />
      <xs:element minOccurs="0" name="startIndex" type="xs:int" />
      <xs:element name="version" type="xs:string" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCertificateStatusRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientTransactionID" type="xs:string" />
      <xs:element name="version" type="xs:string" />
      <xs:element minOccurs="0" name="certificateIssuer" type="xs:string" />
      <xs:element minOccurs="0" name="revocationReason" type="tns:RevokeReasonCodeEnum" />
      <xs:element minOccurs="0" name="challenge" type="xs:string" />
      <xs:element minOccurs="0" name="comment" type="xs:string" />
      <xs:element minOccurs="0" name="certificateSerialNumber" type="xs:string" />
      <xs:element minOccurs="0" name="seatId" type="xs:string" />
      <xs:element name="operationType" type="tns:OperationTypeEnum" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BulkUpdateCertificateStatusRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientTransactionID" type="xs:string" />
      <xs:element name="version" type="xs:string" />
      <xs:element minOccurs="0" name="revocationReason" type="tns:RevokeReasonCodeEnum" />
      <xs:element minOccurs="0" name="comment" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="certificateSerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="seatId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="profileOID" nillable="true" type="xs:string" />
      <xs:element name="operationType" type="tns:OperationTypeEnum" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BulkUpdateCertificateStatusResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientTransactionID" type="xs:string" />
      <xs:element minOccurs="0" name="serverTransactionID" type="xs:string" />
      <xs:element name="version" type="xs:string" />
      <xs:element name="successCode" type="xs:int" />
      <xs:element name="successMsg" type="xs:string" />
      <xs:element name="revocationCount" type="xs:int" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertificateSearchResultType">
    <xs:sequence>
      <xs:element name="certificate" type="xs:base64Binary" />
      <xs:element name="seatId" type="xs:string" />
      <xs:element name="commonName" type="xs:string" />
      <xs:element name="accountId" type="xs:string" />
      <xs:element name="profileOID" type="xs:string" />
      <xs:element name="emailAddress" nillable="true" type="xs:string" />
      <xs:element name="status" type="tns:CertificateStatusEnum" />
      <xs:element minOccurs="0" name="revokeAt" type="xs:long" />
      <xs:element minOccurs="0" name="revokeReason" type="tns:RevokeReasonCodeEnum" />
      <xs:element name="validFrom" type="xs:long" />
      <xs:element name="validTo" type="xs:long" />
      <xs:element name="serialNumber" type="xs:string" />
      <xs:element name="isEscrowed" type="xs:boolean" />
      <xs:element name="enrollmentNotes" nillable="true" type="xs:string" />
      <xs:element name="revokeComments" nillable="true" type="xs:string" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestKeyRecoveryResponseMessageType">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientTransactionID" type="xs:string" />
      <xs:element name="serverTransactionID" type="xs:string" />
      <xs:element minOccurs="0" name="adminApprovalPendingCount" type="xs:int" />
      <xs:element minOccurs="0" name="pKCS12Password" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pKCS12Message" type="xs:string" />
      <xs:element name="version" type="xs:string" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertificateListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="certificateInformation" type="tns:CertificateSearchResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCertificateResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientTransactionID" type="xs:string" />
      <xs:element name="serverTransactionID" type="xs:string" />
      <xs:element name="certificateCount" type="xs:int" />
      <xs:element minOccurs="0" name="certificateList" type="tns:CertificateListType" />
      <xs:element minOccurs="0" name="moreCertificateAvailable" type="xs:boolean" />
      <xs:element name="version" type="xs:string" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCertificateStatusResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientTransactionID" type="xs:string" />
      <xs:element minOccurs="0" name="serverTransactionID" type="xs:string" />
      <xs:element name="version" type="xs:string" />
      <xs:element name="successCode" type="xs:int" />
      <xs:element name="successMsg" type="xs:string" />
      <xs:element name="revocationCount" type="xs:int" />
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CertificateStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VALID" />
      <xs:enumeration value="EXPIRED" />
      <xs:enumeration value="REVOKED" />
      <xs:enumeration value="SUSPENDED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RevokeReasonCodeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="KeyCompromise" />
      <xs:enumeration value="CACompromise" />
      <xs:enumeration value="AffiliationChanged" />
      <xs:enumeration value="CessationOfOperation" />
      <xs:enumeration value="PrivilegeWithdrawn" />
      <xs:enumeration value="AACompromise" />
      <xs:enumeration value="Superseded" />
      <xs:enumeration value="CertificateHold" />
      <xs:enumeration value="RemoveFromCRL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OperationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Revoke" />
      <xs:enumeration value="Suspend" />
      <xs:enumeration value="Resume" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>